body {
  font-family: "Outfit";
  margin:0;
}
.main {
  background-color: hsl(330, 100%, 95%);
  padding: 5rem 0 0;
  margin-bottom: 1rem;
}
img {
  width:650px;
  border-radius: 10px;
}
figure {
  margin: 0;
  width: 650px;
  padding: 0;
}
.container {
  width: 650px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  background-color: hsl(0, 0%, 100%);
  margin: auto;
  border-radius: 15px;
}
.attribution {
  width:650px;
  height:auto;
  text-align: center;
  padding: 0;
  font-size: 11px;
  margin: 5rem auto 1.5rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.prep {
  background-color: hsl(330, 100%, 98%);
  width: 85%;
  margin-right: 0;
  padding:20px 0 20px 20px;
  border-radius: 15px;
}
.brown {
  width:49%;
}
h1 {
  margin-bottom: 0;
}
h2, h1 {
  font-family: "Young serif";
  font-weight: 400;
}
h2, .brown {
  color: hsl(14, 45%, 36%);
}
.brown {
  font-weight: 700;
  display: inline-block;
  text-align: left;
}
.left {
  color: hsl(30, 10%, 34%);
  width: 50%;
  font-weight: 700;
  display: inline-block;
}
.pad {
  margin-top: 30px;
}
hr {
  opacity: .3;
}
.sm {
  color: hsl(332, 51%, 32%);
  font-size: 16px;
  margin-top: 0;
  font-family: "Outfit";
  font-weight: 700;
}
li, .grey {
  color: hsl(30, 10%, 34%);
  font-weight: 700;
}
b, strong {
  color: hsl(16, 33%, 22%);
}